.hero-section {
  padding: 272px 0;
  background-image:
    linear-gradient(
      102.76deg,
      rgba(18, 18, 17, 0.78) 2.03%,
      rgba(18, 18, 17, 0.6) 58.46%,
      rgba(18, 18, 17, 0) 90.36%
    ),
    url(images/background.jpg);  /* правильний відносний шлях */
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}



.hero-tittle {
  margin-bottom: 0;
  color: #faf4ea;
  font-weight: 900;
  text-decoration: none;
  text-align: center;
  font-size: 128px;
  font-style: italic;
}

.hero-tittle .accent {
  color: var(--color-brand-light);
}
