.traditions-container {
  display: flex;
  gap: 100px;
}

.traditions-text .brand-uppercase {
  text-transform: uppercase;
  color: var(--color-brand-light);
  font-weight: 600;
}

.traditions-text .brand {
  color: var(--color-brand-light);
}

.traditions-title {
  margin-bottom: 42px;
  font-size: 80px;
}

.traditions-section {
  padding-top: 96px;
}
